<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.pixel.customparts"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">
    <!-- НОВЫЕ РАЗРЕШЕНИЯ ДЛЯ IMS -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.REBOOT" />
	<!-- ДЛЯ DT2S -->
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.MONITOR_INPUT" />
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
	<uses-permission android:name="android.permission.STATUS_BAR" />
	<uses-permission android:name="android.permission.STATUS_BAR_SERVICE" />
	<uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
	<uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />

    <application
        android:label="@string/pixel_parts_title"
        android:icon="@mipmap/ic_launcher"
        android:persistent="true"
        android:theme="@style/Theme.SubSettingsBase"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
		>
        <activity
            android:name=".PixelPartsActivity"
            android:label="@string/pixel_parts_title"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/pixel_parts_custom_summary" />
        </activity>
        <activity-alias
            android:name=".PixelPartsActivityNetwork"
            android:targetActivity=".PixelPartsActivity"
            android:label="@string/pixel_parts_title"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.WIRELESS" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/pixel_parts_custom_summary" />
        </activity-alias>
        <activity-alias
            android:name=".PixelPartsActivityBattery"
            android:targetActivity=".PixelPartsActivity"
            android:label="@string/pixel_parts_title"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/pixel_parts_custom_summary" />
        </activity-alias>
        <activity-alias
            android:name=".PixelPartsActivitySystem"
            android:targetActivity=".PixelPartsActivity"
            android:label="@string/pixel_parts_title"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/pixel_parts_custom_summary" />
        </activity-alias>
        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
		<service android:name=".dt2s.DT2SService" android:exported="false" />
    </application>
</manifest>