<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.pixel.customparts"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.REBOOT" />

    <!-- 
       ИСПРАВЛЕНИЕ:
       Меняем тему приложения на нашу локальную @style/Theme.PixelParts.
       Старая Theme.SubSettingsBase удалена вместе с библиотекой.
    -->
    <application
        android:label="@string/pixel_parts_title"
        android:icon="@mipmap/ic_launcher"
        android:persistent="true"
        android:theme="@style/Theme.SubSettingsBase"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
		>
		<activity
            android:name=".PixelPartsActivity"
            android:label="@string/pixel_parts_title"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/pixel_parts_custom_summary" />
        </activity>
		<!-- Регистрируем ресивер -->
        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>