type repair_mode_metadata_config_file, file_type, mlstrustedobject;
type pixelparts_data_file, file_type, data_file_type, core_data_file_type;
type pixelparts_system_file, system_file_type, file_type;